go 1.20

use (
	./344.reverse_string
	./509.fibonacchi_number
	./1.two_sum
	./25.Reverse_Nodes_in_k-Group
	./24.Swap_Nodes_in_Pairs
	./1721.Swapping_Nodes_in_a_Linked_List
	./61.Rotate_List
	./19.Remove_Nth_Node_From_End_of_List
	./7.Reverse_Integer
	./347.Top_K_Frequent_Elements
	./helpers/heap
	./2109.Adding_Spaces_to_a_String
)
